a:not([href^='#']):not([href^='/']):not(.img):after {
  content: "🔗";
  font-size:75%;
}
.bg-content {
  top: 0px!important;
}
.box-header h1, .box-header h2, .box-header h3, .box-header h3, .box-header h4, .box-header h5, .box-header h6 {
  background-color: white;
  opacity: 0.75;
  display: inline;
  padding: 10px;
}
.white-header h1, .white-header h2, .white-header h3, .white-header h3, .white-header h4, .white-header h5, .white-header h6 {
  color: white;
}

.box-text {
  background-color: white;
  opacity: 0.75;
  display: inline;
  padding: 5px !important;
}

.slide-footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 0.5em !important;
}

.image-caption {
  font-size: 0.5em !important;
}

.gray {
  color: gray;
}

.c-2 {
  float: left;
  width: 50%;
}

.c-3 {
  float: left;
  width: 33.33%;
}

.c-4 {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}